<!-- 
    Real Time chatting app
    @author Shashank Tiwari 
-->
<div class="auth-page">
    <div class="container auth-container">
        <div class="auth">
 
            <!-- Auth Page Header Tabs start -->
            <div class="auth-header">
                <button type="button" class="btn btn-primary auth-header-btn" ng-click="active = 0">Login</button>
                <button type="button" class="btn btn-primary auth-header-btn" ng-click="active = 1">Register</button>
            </div>
            <!-- Auth Page Header Tabs ends -->
 
            <div class="auth-content">
                <uib-tabset active="active">
                    <!-- Login Tab starts -->
                    <uib-tab index="0">
                        <div class="login">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="username" 
                                    class="form-control" 
                                    id="username" 
                                    placeholder="Enter username" 
                                    ng-model="data.loginUsername">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" 
                                    class="form-control" 
                                    id="login-password" 
                                    placeholder="Enter password" 
                                    ng-model="data.loginPassword">
                            </div>
                            <button class="btn btn-primary" ng-click="loginUser()">Login</button>
                        </div>
                    </uib-tab>
                    <!-- Login Tab ends -->
                    <!-- Register Tab starts -->
                    <uib-tab index="1">
                        <div class="register">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="username" 
                                    class="form-control" 
                                    id="username" 
                                    placeholder="Enter username"
                                    autocomplete="off"
                                    ng-model="data.regUsername" 
                                    ng-keyup="initiateCheckUserName()" 
                                    ng-keydown="clearCheckUserName()" 
                                />
                                <div ng-show='data.usernameAvailable'>
                                    <br>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ data.regUsername }}</strong> Username is already taken.
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" 
                                    class="form-control" 
                                    id="reg-password" 
                                    placeholder="Enter password"
                                    ng-model="data.regPassword">
                            </div>
                            <form>
                                <div><label for="gender">Gender</label></div>
                                <input type="radio" ng-model="data.gender" value="M">Male
                                <input type="radio" ng-model="data.gender" value="F">Female
                            </form>
                            <form>
                                <div><label for="Type">Select your category</label></div>
                                <input type="radio" ng-model="data.Type" value="1" ng-checked="data.Type==1" ng-init= "data.Type==1" ng-click= "data.Type==1">Advisor
                                <input type="radio" ng-model="data.Type" value="0" ng-checked="data.Type==0" ng-init= "data.Type==0" ng-click= "data.Type==0">User
                            </form>
                            <div  ng-if="data.Type==1">
                                <form >
                                    <label>Family:
                                      <input type="checkbox" ng-model="data.family">
                                    </label><br/>
                                </form>
                            </div>
                            <div  ng-if="data.Type==0" class="ng-hide">
                                <form >
                                    <label>Family:
                                      <input type="checkbox" ng-model="data.family" checked="checked">
                                    </label><br/>
                                </form>
                            </div>
                            
                            <button class="btn btn-primary" ng-click="registerUser()">Register</button>
                        </div>
                    </uib-tab>
                    <!-- Register Tab ends -->
                </uib-tabset>
            </div>        
        </div>
    </div>
</div>